* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family:'Times New Roman', Times, serif;
}

a {
    color: black;
}
a:hover {
    color: black;
    text-decoration: none;
}  

body {
    background-color: whitesmoke;
}

.navbar-brand {
    text-decoration: underline;
}

.news-img {
    border-radius: 15px;
}

#tidal-icon {
    border-radius: 5px;
}
#ihr-icon {
    border-radius: 5px;
}

/* NEWS PAGE */


.page-title {
    text-align: center;
    background-color: rgb(250, 250, 250);
    padding: 2px;
    border-bottom: 2px solid rgb(214, 214, 214);
    margin-bottom: 20px;
}

/* --------- */

/* FOOTER */
.foot.link.github {
    color: white;
}
.foot.link.github:hover {
    color: white;
}

#record {
    color: white;
}
/* ------ */

.icon.link.instagram {
    color: black;
    padding: 10px;
}

.icon.link.instagram:hover {
    text-decoration: none;
}




/* NAVBAR */
@media only screen and (max-width: 812px) {
    
    body {
        padding-top: 72px;
    }

    #news-preface {
        padding-top: 10px;
    }

    .title-image {
        width: 100%;
        
        /* border: 1px solid red; */
    }
    .title-image img {
        width: 100%;
    }

    /* PAGE */
    .page {
        width: 95%;
        margin: 0 auto;
    }

    .separator {
        margin: 5px 40px;
        width: 80%;

        padding-top: 1px;
        background-color: black;
    }

    .sub-heading {
        margin-bottom: 20px;
    }

    .sub-heading h4 {
        margin: 10px;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }

    /* ABOUT SECTION */
    .sub-heading p {
        text-align: center;
    }

    /* LISTEN NOW SECTION */

    .embed {
        border-radius: 5px;
        border:2px solid rgb(214, 214, 214);
        margin: 5px;
    }

    .music.icons {
        display: flex;
        justify-content: center;

        flex-wrap: wrap;
    }
    .icon.link {
        /* border: 1px solid blue; */
        text-align: center;
        margin: 10px 10px;
        width: 15%;
    }
    .icon{
        width: 100%;
    }

    /* ---------------- */

    /* NEWS SECTION */
    .news-item {
        text-align: center;
        margin: 15px 0 auto;
        padding-top: 3px;
        padding-bottom: 12px;

        background-color: rgb(250, 250, 250);
        border: 2px solid rgb(214, 214, 214);

        /* border: 1px solid red; */
    }

    .news-item img {
        /* border: 1px solid orange; */
        /* margin: 15px 35px; */
        width: 80%;
    }

    .news-item h5 {
        margin-top: 8px;
        font-size: 15px;
        text-decoration: underline;
    }

    .fb-video {
        margin: 10px;
    }

    /* -------------- */

    /* INSTAGRAM LINK */
    .sub-heading.instagram-feed {
        text-align: center;
        margin: 15px;
        padding: 15px;
    }

    .icon.instagram {
        width: 10%;
    }

    /* -------------- */

    /* FOOTER */

    .footer {
        background-color: #343a40;
        display: flex;
        justify-content: space-between;
    }

    .foot {
        margin: 15px;
    }

    #record {
        margin-top: 20px;
        font-size: 10px;
    }

    /* ------ */

    /* GALLERY */


    /* ------- */

}

@media only screen and (max-width: 375px) {
    body {
        padding-top: 128px;
    }
}



@media only screen and (min-width:813px) {
    body {
        padding-top: 72px;
    }

    .title-image {
        width: 100%;
        
        /* border: 1px solid red; */
    }
    .title-image img {
        width: 100%;
    }

    /* PAGE */
    .page {
        width: 80%;
        margin: 0 auto;
    }

    .separator {
        margin: 0 auto;
        width: 80%;

        padding-top: 1px;
        background-color: rgb(119, 119, 119);
    }

    .sub-heading {
        padding: 20px;
    }

    .sub-heading h4 {
        margin: 10px;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }

    /* MUSIC PAGE */

    .music-embeds {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .embed {
        flex: 1;
        margin: 60px;

        border-radius: 5px;
        border:2px solid rgb(214, 214, 214);
    }

    /* ---------- */

    /* ABOUT SECTION */
    .sub-heading p {
        margin: 0 auto;
        text-align: center;
        width: 50%;

        padding: 0 50px 50px 50px;
    }

    /* LISTEN NOW SECTION */

    .music.icons {
        display: flex;
        justify-content: center;
    }
    .icon.link {
        /* border: 1px solid blue; */
        text-align: center;
        margin: 10px 10px;
        padding: 10px;
        width: 5%;
    }
    .icon{
        width: 100%;
    }

    /* ---------------- */

    .news.news-items {
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    /* NEWS SECTION */
    .news-item {
        flex: 1;

        text-align: center;

        padding-bottom: 20px;
        padding-top: 12px;
        background-color: rgb(250, 250, 250);
        border: 2px solid rgb(214, 214, 214);

        margin: 20px;

        /* border: 1px solid blue; */
    }

    .news-item a img {
        /* border: 1px solid orange; */
        /* margin: 15px 35px; */
        width: 50%;
    }
    .news-item h5 {
        margin-top: 8px;
        font-size: 15px;
        text-decoration: underline;
    }
    .news-item p {
        font-size: 0.85em;
        width: 50%;
        padding: 20px;
        margin: 0 auto;
    }

    .fb-video {
        margin: 10px;
    }

    /* -------------- */

    /* INSTAGRAM LINK */
    .sub-heading.instagram-feed {
        text-align: center;
        margin: 15px;
        padding: 15px;
    }

    .icon.instagram {
        width: 2%;
    }

    /* -------------- */

    /* FOOTER */

    .footer {
        background-color: #343a40;
        display: flex;
        justify-content: space-between;
    }

    .foot {
        margin: 15px;
    }

    #record {
        margin-top: 20px;
        font-size: 10px;
    }

    /* ------ */

    /* GALLERY */
    
    .gallery {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .gallery.row {
        margin-bottom: 0;
    }
    .gallery-image img {
        border-radius: 5px;
        margin: 10px;
    }

    /* ------- */

}

.navbar-text {
    /* border: 1px solid red !important; */
}